*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkslateblue;
}
h1{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

}